.contact-form {
    min-height: rem(350);
    padding: rem(20);
    border-radius: rem(4);
    border: rem(1) solid $color-white;

    .ant-form-item-control-input {
        .ant-form-item-control-input-content {
            .ant-input-affix-wrapper {
                background-color: $color-deep-black;
            }
        }
    }

    .ant-radio-group {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: flex-start;

        label {
            @extend %flex-center;
            padding: 0 rem(5);
            background: $transparent;
            border-color: $transparent;
            color: $color-white;

            .anticon {
                color: $color-white;
            }

            &:hover {
                color: $color-link-hover;
                background: $transparent;
                border-color: $transparent;

                .anticon {
                    color: $color-link-hover;
                }
            }

            &::before {
                display: none;
            }

            &.ant-radio-button-wrapper-checked {
                background: $transparent;
                border-color: $transparent;
                color: $color-link-hover;

                .anticon {
                    color: $color-link-hover;
                }

                &:hover {
                    color: $color-white;
                    background: $transparent;
                    border-color: $transparent;

                    .anticon {
                        color: $color-white;
                    }
                }
            }
        }
    }

    .ant-select {
        color: $color-white;

        .ant-select-selector {
            background-color: $color-deep-black !important;
        }

        &:hover {
            .ant-select-selector {
                border-color: $color-link-hover !important;
            }
        }

        .ant-select-selection-placeholder,
        .anticon {
            color: $color-white;
        }

        .ant-select-selection-item {
            color: $color-white;
        }
    }

    .ant-select-focused {
        .ant-select-selector {
            border-color: $color-link-hover !important;
        }

        .ant-select-selection-placeholder,
        .anticon {
            color: $color-link-hover;
        }
    }

    .mb-2 {
        margin-bottom: rem(2) !important;
    }

    .ant-statistic-content {
        color: $color-white;
    }

    h2 {
        i {
            font-size: rem(26);
        }
    }

    textarea {
        margin: 0 0 rem(20) !important;
        font-family: monospace;
        font-size: rem(20);
    }

    .ant-input,
    .ant-input-affix-wrapper {
        background-color: $color-deep-black;
        border-color: $color-white;
        color: $color-white;

        &:hover {
            border-color: $color-link-hover !important;
        }

        &:focus {
            border-color: $color-link-hover !important;
            box-shadow: 0 0 rem(20) $color-link-hover;
        }

        input {
            background-color: $color-deep-black !important;

            &:focus {
                background-color: $color-deep-black !important;
            }
        }
    }

    button[type='submit'] {
        font-family: 'Open-Sans', sans-serif;
        background-color: $color-white;
        border-color: $color-white;
        color: $color-black;
        cursor: pointer;
        display: block;
        width: 100%;

        &:hover {
            text-shadow: $color-link-hover 0 0 rem(20);
            border-color: $color-link-hover;
            color: $color-link-hover;
            background-color: $transparent;
        }
    }
}
