.Futures {
    &.ant-back-top {
        bottom: rem(45);
        right: rem(24);
        width: rem(56);
        height: rem(56);

        .ant-back-top-inner {
            .tap-target-wrapper {
                width: rem(800);
                height: rem(800);
                position: fixed;
                z-index: 1000;
                visibility: hidden;
                transition: visibility 0s 0.3s;

                @media only screen and (max-width: $media-x-small) {
                    width: rem(600);
                    height: rem(600);
                }

                &.open {
                    visibility: visible;
                    transition: visibility 0s;

                    .tap-target {
                        transform: scale(1);
                        opacity: 0.95;
                        transition: opacity 0.3s cubic-bezier(0.42, 0, 0.58, 1),
                            -webkit-transform 0.3s cubic-bezier(0.42, 0, 0.58, 1);
                        transition: transform 0.3s
                                cubic-bezier(0.42, 0, 0.58, 1),
                            opacity 0.3s cubic-bezier(0.42, 0, 0.58, 1);
                        transition: transform 0.3s
                                cubic-bezier(0.42, 0, 0.58, 1),
                            opacity 0.3s cubic-bezier(0.42, 0, 0.58, 1),
                            -webkit-transform 0.3s cubic-bezier(0.42, 0, 0.58, 1);
                    }

                    .tap-target-wave {
                        &::before {
                            transform: scale(1);
                        }

                        &::after {
                            visibility: visible;
                            animation: pulse-animation 1s
                                cubic-bezier(0.24, 0, 0.38, 1) infinite;
                            transition: opacity 0.3s, visibility 0s 1s,
                                -webkit-transform 0.3s;
                            transition: opacity 0.3s, transform 0.3s,
                                visibility 0s 1s;
                            transition: opacity 0.3s, transform 0.3s,
                                visibility 0s 1s, -webkit-transform 0.3s;
                        }
                    }
                }
            }

            .tap-target {
                position: absolute;
                font-size: rem(16);
                border-radius: 50%;
                background-color: var(--color-black);
                box-shadow: 0 rem(20) rem(20) 0 rgb(0 0 0 / 14%),
                    0 rem(10) rem(50) 0 rgb(0 0 0 / 12%),
                    0 rem(30) rem(10) rem(-20) rgb(0 0 0 / 20%);
                width: 100%;
                height: 100%;
                bottom: 50%;
                right: 50%;
                opacity: 0;
                transform: scale(0);
                transition: opacity 0.3s cubic-bezier(0.42, 0, 0.58, 1),
                    -webkit-transform 0.3s cubic-bezier(0.42, 0, 0.58, 1);
                transition: transform 0.3s cubic-bezier(0.42, 0, 0.58, 1),
                    opacity 0.3s cubic-bezier(0.42, 0, 0.58, 1);
                transition: transform 0.3s cubic-bezier(0.42, 0, 0.58, 1),
                    opacity 0.3s cubic-bezier(0.42, 0, 0.58, 1),
                    -webkit-transform 0.3s cubic-bezier(0.42, 0, 0.58, 1);

                @media only screen and (max-width: $media-x-small) {
                    width: rem(600);
                    height: rem(600);
                }
            }

            .tap-target-content {
                position: relative;
                display: table-cell;
                top: rem(180);
                right: -40%;
                color: var(--color-white);

                a {
                    color: var(--color-white);

                    &:hover {
                        color: var(--color-secondary);
                    }
                }
            }

            .tap-target-wave {
                position: absolute;
                border-radius: 50%;
                z-index: 10001;
                visibility: visible !important;

                &::before,
                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    background-color: unset;
                }

                &::before {
                    transform: scale(0);
                    transition: -webkit-transform 0.3s;
                    transition: transform 0.3s;
                    transition: transform 0.3s, -webkit-transform 0.3s;
                }

                &::after {
                    visibility: hidden;
                    transition: opacity 0.3s, visibility 0s,
                        -webkit-transform 0.3s;
                    transition: opacity 0.3s, transform 0.3s, visibility 0s;
                    transition: opacity 0.3s, transform 0.3s, visibility 0s,
                        -webkit-transform 0.3s;
                    z-index: -1;
                    bottom: 0;
                    background-color: var(--color-secondary);
                }

                button {
                    width: rem(56);
                    height: rem(56);
                    background-color: var(--color-black);
                    border-color: var(--color-black);

                    i {
                        font-size: rem(28);
                        color: var(--color-secondary);
                    }
                }
            }

            .tap-target-origin {
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 10002;
                position: absolute !important;
            }

            .pulse {
                overflow: visible;
                position: relative;
            }

            .pulse {
                &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    background-color: inherit;
                    border-radius: inherit;
                    transition: opacity 0.3s, -webkit-transform 0.3s;
                    transition: opacity 0.3s, transform 0.3s;
                    transition: opacity 0.3s, transform 0.3s,
                        -webkit-transform 0.3s;
                    animation: pulse-animation 1s cubic-bezier(0.24, 0, 0.38, 1)
                        infinite;
                    z-index: -1;
                }
            }
        }
    }
}
