.HowTo {
    @extend %flex-center;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    right: rem(20);

    & > * {
        margin-bottom: rem(20);
    }

    button.ant-btn.ant-btn-circle {
        background-color: $color-black;
        border-color: $color-white;

        span.anticon {
            svg {
                transition: color 0s !important;

                path {
                    transition: color 0s !important;
                }
            }
        }

        &:not(:disabled):hover {
            box-shadow: 0 0 rem(30) $color-white;
            color: $color-black;
            background-color: $color-link-hover;
            border-color: $color-link-hover;

            span.anticon {
                color: $color-black;
            }
        }
    }
}
