.Menu.ant-menu {
    height: rem(46);
    min-width: rem(280);
    justify-content: space-evenly;

    .ant-menu-item {
        @extend %flex-center;

        &:hover {
            &::after {
                border-bottom-color: var(
                    --color-secondary
                ) !important;
            }

            span {
                color: var(--color-secondary);
            }
        }

        .ant-menu-title-content {
            margin-inline-start: 0;

            .mobile-hide {
                margin-inline-start: rem(10);
            }
        }
    }

    .ant-menu-item-selected {
        &::after {
            border-bottom-color: var(--color-secondary) !important;
        }

        span,
        svg,
        .ant-menu-item-icon {
            color: var(--color-secondary);
        }

        &:hover {
            &::after {
                border-bottom-color: var(--color-white) !important;
            }

            span,
            svg,
            .ant-menu-item-icon {
                color: var(--color-white);
            }
        }
    }

    @media (max-width: $media-small) {
        min-width: rem(50);
        min-height: rem(30);

        .ant-menu-overflow-item-rest {
            padding: rem(10) rem(20) !important;
            color: var(--color-secondary) !important;

            &.ant-menu-submenu-open {
                span {
                    color: var(--color-secondary) !important;
                }
            }

            &::after {
                border-bottom-color: var(
                    --color-secondary
                ) !important;
            }

            &.ant-menu-submenu-active {
                color: var(--color-secondary) !important;
            }

            .ant-menu-submenu-title {
                span {
                    font-size: rem(20);
                }
            }
        }
    }
}
