/* Toolbar */
%no-border {
    box-shadow: none !important;
    border: none !important;
    user-select: none !important;
}

.Toolbar {
    transition: width 0.35s ease-in-out, height 0.35s ease-in-out,
        box-shadow 0.35s ease-in-out;
    position: absolute;
    top: rem(10);
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(60);
    height: rem(60);
    background-color: rgb(0 0 0 / 20%);
    border-radius: 50%;
    z-index: 10;

    .burger {
        font-size: rem(32);
        color: var(--color-white);
        background-color: var(--transparent) !important;
        border-color: var(--transparent) !important;

        svg {
            transition: color 0.1s !important;

            path {
                transition: color 0.1s !important;
            }
        }
    }

    &:hover {
        box-shadow: 0 0 rem(30) var(--color-white);
        background: var(--transparent);

        .burger {
            color: var(--color-secondary);
        }
    }
}

.ant-drawer {
    z-index: 1080;

    .ant-drawer-content-wrapper {
        .ant-drawer-content {
            background-color: var(--color-primary);

            .ant-menu {
                background: var(--color-primary);
                border-inline-end: none;

                .ant-menu-item {
                    .anticon,
                    .ant-menu-title-content {
                        color: var(--color-white);
                    }

                    &:hover {
                        background: var(--color-black);

                        .anticon,
                        .ant-menu-title-content {
                            color: var(--color-secondary);
                        }
                    }

                    &.ant-menu-item-selected {
                        background: var(--color-black);

                        .anticon,
                        .ant-menu-title-content {
                            color: var(--color-secondary);
                        }
                    }
                }
            }

            .ant-typography {
                margin-bottom: 0;
                color: var(--color-white);
            }

            .user-card {
                width: 100%;
                justify-content: space-between;
                padding: 0;
                margin: 0 auto !important;

                .ant-col {
                    padding: 0 !important;

                    img {
                        border-radius: 50%;
                        width: rem(60);
                        height: auto;
                    }
                }
            }

            .ant-divider {
                border-block-start: var(--color-white);

                .ant-divider-inner-text {
                    color: var(--color-white);
                }
            }

            .ant-drawer-header {
                border-bottom-color: var(--color-white);

                .ant-drawer-title {
                    color: var(--color-white);
                    text-align: center;
                }

                .anticon {
                    color: var(--color-white);

                    svg {
                        transition: color 0s !important;

                        path {
                            transition: color 0s !important;
                        }
                    }

                    &:hover {
                        color: var(--color-secondary);
                    }
                }
            }

            .ant-card {
                background: var(--color-primary);
                border: rem(1) solid var(--color-white);

                .ant-card-head {
                    padding: rem(12) rem(24);
                    background: var(--color-black);
                    color: var(--color-white);
                    border-bottom: rem(1) solid var(--color-white);
                }

                .ant-card-body {
                    color: var(--color-white);
                }
            }

            .ant-form-item-required {
                color: var(--color-white);
            }

            .ant-segmented {
                background-color: var(--color-black);

                .ant-segmented-item {
                    color: var(--color-white);

                    &.ant-segmented-item-selected {
                        background-color: var(--color-primary);
                        color: var(--color-secondary);
                    }
                }

                .ant-segmented-thumb {
                    background-color: var(--color-primary);
                }
            }

            .Login {
                .padding-small {
                    --padding: rem(1);

                    &.left {
                        padding-right: var(--padding) !important;
                    }

                    &.right {
                        padding-left: var(--padding) !important;
                    }
                }

                .ant-btn-link {
                    padding: 0;
                }
            }
        }
    }
}
