/* Contact */

.Contact {
    margin: 50px auto !important;
    height: 100%;

    @media all and (max-width: $media-x-small) {
        font-size: 6vw;
    }
    .ant-row {
        margin-bottom: 20px;
        .g-recaptcha {
            min-height: 40vh;
            z-index: 11;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    p {
        margin: 20px 0;
        display: inline-block;
        text-align: center;
    }
    h2 {
        color: $color-white;
    }

    .link {
        color: $color-link-hover;
    }

    .left,
    .right {
        button {
            width: 100%;
            margin: auto;
        }
    }
}
