/* Folio page */

.Folio {
    height: -webkit-fill-available;
    background-color: $color-content-bg;
    width: 100%;
    max-width: 100%;
    top: 0;
    left: 0;
    transform: none;
    display: block;
    position: absolute;
    overflow: hidden;

    // Loading
    .PreLoading-Wave {
        &>* {
            text-shadow: 0 0 8px $color-link-hover;
        }
    }
    
    /* Collapse */
    /* not active */
    .ant-collapse {
        background-color: $transparent;
        border: 0;
        border-radius: 0;
        & * {
            transition: height 0.2s ease-in-out;
        }
        &.active {
            .ant-collapse-item {
                height: 10vh;
                &.ant-collapse-item-active {
                    height: 70vh;
                }
                .ant-collapse-header {
                    height: 10vh;
                    line-height: 5vh;
                    font-size: 8vh;
                    i {
                        line-height: 10vh;
                        font-size: 6vh;
                        margin-top: 0;
                        @media (max-width: $media-small) {
                            display: inline-block;
                            font-size: 8vw !important;
                            margin: 0 0 0 20px;
                            float: none;
                        }
                    }
                }
            }
        }
        // @for $i from 1 through 4 {
        //     $paddings: random(320);
        //     .ant-collapse-item {
        //         &.panel-#{$i} {
        //             .ant-collapse-header {
        //                 padding-left: #{$paddings}px !important;
        //             }
        //         }
        //     }
        // }
        .ant-collapse-item {
            border-bottom-color: $color-white;
            height: 25vh;
            .ant-collapse-header {
                height: 25vh;
                line-height: 16vh;
                font-size: 18vh;
                color: $color-white;
                text-shadow: 2px 2px 4px $color-black;
                &:hover {
                    text-shadow: 0 0 4px $color-white;
                    & i>svg {
                        filter: drop-shadow( 0 0 4px $color-white);
                    }
                }
                & i > svg {
                    filter: drop-shadow( 2px 2px 4px $color-black);
                }
                
                i {
                    float: right;
                    margin-right: 60px;
                    font-size: 13vh;
                    display: block;
                    margin-top: 4.5vh;
                }
            }
            /* Static content styles */
            .ant-collapse-content {
                background: $color-content-bg;
                font-size: 18px;
                color: $color-white;
                display: flex;
                justify-content: center;
                align-items: normal;
                &:hover {
                    background: $color-content-bg-hover;
                }
                .ant-collapse-content-box {
                    width: 100%;
                    position: relative;
                    // top: 50px;
                    height: auto;
                    padding: 0;
                    margin: 0 auto;
                    // margin: 0 auto 50px;
                    display: table;
                    @media (max-width: $media-small) {
                        top: 50px;
                    }
                    .content {
                        max-width: 100%;
                        width: 80%;
                        margin: 0 auto;
                        color: $color-white;
                        &>div {
                            text-align: center;
                        }
                    }
                }
            }
        }
        /* active content section */
        .ant-collapse-item-active {
            height: 10vh;
            .ant-collapse-header {
                height: 10vh;
                line-height: 5vh;
                font-size: 8vh;
                i {
                    line-height: 10vh;
                    font-size: 6vh;
                    margin-top: 0;
                }
            }
            /* active content */
            .ant-collapse-content-active {
                min-height: 60vh;
                max-height: 60vh;
                overflow-y: auto;
                &::-webkit-scrollbar {
                    background-color: $transparent;
                }
                &::-webkit-scrollbar-button {
                    background-color: $transparent;
                }
                &::-webkit-scrollbar-track {
                    background-color: $transparent;
                }
                &::-webkit-scrollbar-track-piece {
                    background-color: $transparent;
                }
                &::-webkit-scrollbar-thumb {
                    background-color: $color-black;
                }
                &::-webkit-scrollbar-corner {
                    background-color: $transparent;
                }
                &::-webkit-resizer {
                    background-color: $transparent;
                }
            }
        }
    }
    .react-contextmenu {
        &.react-contextmenu--visible {
            min-width: 135px;
            background-color: $color-black;
            .react-contextmenu-item {
                color: $color-white;
                padding: 10px 20px;
                a {
                    color: $color-white;
                }
                &:hover {
                    background-color: $color-footer;
                    color: $color-link-hover;
                    a {
                        color: $color-link-hover;
                    }
                }
            }
        }
    }
}
