/* Works */
.Works {
    .ant-list {
        color: $color-white;
        .ant-list-item-content {
            font-size: 18px;
            line-height: 0;
            margin-top: 0;
            a {
                text-decoration: none;
                color: $color-white;
                &:hover {
                    color: $color-link-hover;
                }
                i {
                    margin-left: 25px;
                    font-size: 18px;
                    @media all and (max-width: $media-small) {
                        margin: 20px;
                    }
                }
            }
            h4 {
                font-size: 18px;
            }
        }
        .ant-list-item-meta {
            font-size: 18px;
            text-align: left;
            .ant-list-item-meta-title {
                color: $color-white;
            }
        }
        .ant-list-header {
            font-size: 18px;
            font-weight: 100;
            .ant-row {
                &>div {
                    margin: 0;
                }
            }
        }
        .ant-spin-nested-loading {
            margin: 0;
            .ant-list-item {
                margin: 0;
            }
        }
    }
}