/* Common styles */

* {
    padding: 0;
    margin: 0;
    &,
    &::before,
    &::after {
        box-sizing: border-box;
    }
    &:focus,
    &:active {
        outline: none;
    }
}

@-ms-viewport {
    width: device-width;
}

@keyframes rotate {
    0% { transform: rotate(0deg) }
    50% { transform: rotate(180deg) }
    100% { transform: rotate(360deg) }
}

@keyframes stop {
    0% { transform: rotate(0deg) }
    70% { transform: rotate(252deg) }
    80% { transform: rotate(288deg) }
    100% { transform: rotate(360deg) }
}

@media screen and (max-width: 400px) {
    @-ms-viewport {
        width: 300px;
    }
    @-o-viewport {
        width: device-width;
    }
    @viewport {
        width: device-width;
    }
}

html,
body {
    width: 100%;
    height: 100%;
    outline: 0;
    border: 0;
    background-color: #607d8b;
    -ms-text-size-adjust: auto;
    -webkit-text-size-adjust: auto;
    cursor: crosshair !important;
    overflow-x: hidden;
}

html {
    -webkit-tap-highlight-color: $transparent;
    color: $color-white;
    font: $font-text;
}

.mobile-fix,
svg {
    -webkit-tap-highlight-color: $transparent !important;
    -webkit-focus-ring-color: $transparent !important;
    -moz-user-select: none !important;
    -webkit-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    outline: none !important;
}

.icon-lamp {
    outline: none !important;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

/* App background */

#bg-app {
    width: 100%;
    height: 100%;
    background-color: $color-back;
    background-image: url('');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    /* App */
    #root {
        .ant-layout,
        .ant-layout-header,
        .ant-layout-footer {
            background: $transparent;
        }
        .LayoutMain {
            .Main {
                .ant-layout-content {
                    /*--------------Home page----------------*/
                    /*parts-------------------------------fps*/
                    /*---------------------------------------*/
                    /*---------------------------------------*/
                    /*-----------------Hero------------------*/
                    /*---------------------------------------*/
                    /*---------------------------------------*/
                    /*---------------------------------------*/
                    .Home {
                        height: 280px;
                        top: 50%;
                        left: 50%;
                        display: table;
                        position: absolute;
                        transform: translate(-50%, -50%);
                        @media (max-width: $media-small) {
                            max-width: 320px;
                        }
                        @media (max-width: $media-small) and (orientation: landscape) {
                            max-width: 300px;
                            height: 0;
                        }
                        @media (min-width: $media-medium-min) {
                            max-width: 450px;
                        }
                        @media (min-width: $media-large-min) {
                            max-width: 580px;
                        }
                        a {
                            cursor: pointer;
                            &:hover {
                                text-shadow: 0;
                            }
                            .heading-hero {
                                color: $color-white;
                                font-size: 3.8rem;
                                line-height: 1.1;
                                opacity: 0;
                                margin: 0;
                                transform: scale(0.5);
                                transition: all ease 1s;
                                /* Hero animation "back to 0" */
                                &:hover {
                                    @for $i from 0 through 15 {
                                        $rondomTranslate: random(5) / 1.1;
                                        .span-#{$i} {
                                            animation: stop #{$rondomTranslate}s;
                                            transition: transition #{$rondomTranslate}s;
                                            .icon-lamp {
                                                color: $color-link-hover;
                                                text-shadow: 0 0 20px $color-link-hover;
                                            }
                                        }
                                    }
                                }
                                @media (max-width: $media-small) {
                                    margin-left: 20px;
                                }
                                @media (min-width: $media-medium-min) {
                                    font-size: 6rem;
                                    line-height: 1;
                                }
                                @media (min-width: $media-large-min) {
                                    font-size: 8rem;
                                    line-height: 1;
                                }
                                @media (max-width: $media-small) and (orientation: landscape) {
                                    display: table-footer-group;
                                }
                                /* Hero animation start */
                                @for $i from 0 through 15 {
                                    $rondomAngle: random(360);
                                    $rondomTranslate: random(5) / 1.1;
                                    $opacity: random(9);
                                    $shadow: random(12);
                                    .span-#{$i} {
                                        opacity: #{'0.' + $opacity};
                                        text-shadow: 0 0 #{$shadow}px #{$color-white};
                                        color: rgba(188, 200, 206, 1);
                                        display: inline-block;
                                        animation: rotate #{$rondomTranslate}s ease-in-out infinite;
                                        // transform: rotate(#{$rondomAngle + 360}deg);
                                        transition: transform #{$rondomTranslate}s;
                                        @media (max-width: $media-small) {
                                            transform: rotate(0deg);
                                            animation: none;
                                        }
                                        .icon-lamp {
                                            font-family: 'lamp' !important;
                                            speak: none;
                                            font-style: normal;
                                            font-weight: normal;
                                            font-variant: normal;
                                            text-transform: none;
                                            line-height: 1;
                                            position: relative;
                                            top: 8px;
                                            color: $color-white;
                                            transition: all 1.6s ease;
                                            @media (max-width: $media-small) {
                                                color: $color-link-hover;
                                                text-shadow: 0 0 20px $color-link-hover;
                                            }
                                            &:before {
                                                content: "\e900";
                                            }
                                            &:hover {
                                                color: $color-link-hover;
                                                text-shadow: 0 0 20px $color-link-hover;
                                            }
                                        }
                                    }
                                    .span-15 {
                                        opacity: 1;
                                    }
                                }
                            }
                        }
                    }
                    /* Folio page */
                    .Folio {
                        height: -webkit-fill-available;
                        width: 100%;
                        max-width: 100%;
                        top: 0;
                        left: 0;
                        transform: none;
                        display: block;
                        position: absolute;
                        overflow: hidden;
                        .PreLoading-Wave {
                            &>* {
                                text-shadow: 0 0 8px $color-link-hover;
                            }
                        }
                        /* Toolbar */
                        .Toolbar {
                            position: absolute;
                            top: -60px;
                            right: -60px;
                            width: 120px;
                            height: 120px;
                            padding-top: 70px;
                            background-color: rgba(0, 0, 0, 0.2);
                            border-top: 0;
                            border-radius: 50%;
                            z-index: 10;
                            &:hover {
                                .ant-switch {
                                    text-shadow: 0 0 8px $color-white;
                                }
                            }
                            .ant-switch {
                                line-height: 1;
                                background-color: $transparent;
                                margin-left: 12px;
                                .ant-switch-inner {
                                    font-size: 16px;
                                }
                            }
                            .ant-switch-checked {
                                margin-left: 5px;
                            }
                        }
                        /* Collapse */
                        /* not active */
                        .ant-collapse {
                            background-color: $transparent;
                            border: 0;
                            border-radius: 0;
                            & * {
                                transition: height 0.2s ease-in-out;
                            }
                            &.active {
                                .ant-collapse-item {
                                    height: 10vh;
                                    &.ant-collapse-item-active {
                                        height: 70vh;
                                    }
                                    .ant-collapse-header {
                                        height: 10vh;
                                        line-height: 5vh;
                                        font-size: 8vh;
                                        i {
                                            line-height: 10vh;
                                            font-size: 6vh;
                                            margin-top: 0;
                                            
                                        }
                                    }
                                }
                            }
                            .ant-collapse-item {
                                border-bottom-color: $color-white;
                                height: 25vh;
                                .ant-collapse-header {
                                    height: 25vh;
                                    line-height: 16vh;
                                    font-size: 18vh;
                                    color: $color-white;
                                    &:hover {
                                        text-shadow: 0 0 20px $color-white;
                                    }
                                    &:hover i > svg {
                                        filter: drop-shadow( 0 0 20px $color-white );                                    }
                                    i {
                                        float: right;
                                        margin-right: 50px;
                                        font-size: 13vh;
                                        display: block;
                                        margin-top: 5vh;
                                    }
                                }
                                /* Static content styles */
                                .ant-collapse-content {
                                    background: $color-content-bg;
                                    font-size: 18px;
                                    color: $color-white;
                                    display: flex;
                                    justify-content: center;
                                    align-items: normal;
                                    &:hover {
                                        background: $color-content-bg-hover;
                                    }
                                    .ant-collapse-content-box {
                                        width: 100%;
                                        position: relative;
                                        top: 50px;
                                        height: auto;
                                        padding: 0;
                                        margin: 0 auto 50px;
                                        display: table;
                                        @media (max-width: $media-small) {
                                            top: 50px;
                                        }
                                        .content {
                                            max-width: 100%;
                                            width: 80%;
                                            margin: 0 auto;
                                            color: $color-white;
                                            &>div {
                                                text-align: center;
                                            }
                                        }
                                    }
                                }
                            }
                            /* active content section */
                            .ant-collapse-item-active {
                                height: 10vh;
                                .ant-collapse-header {
                                    height: 10vh;
                                    line-height: 5vh;
                                    font-size: 8vh;
                                    i {
                                        line-height: 10vh;
                                        font-size: 6vh;
                                        margin-top: 0;
                                    }
                                }
                                /* active content */
                                .ant-collapse-content-active {
                                    min-height: 60vh;
                                    max-height: 60vh;
                                    overflow-y: auto;
                                    &::-webkit-scrollbar {
                                        background-color: $transparent;
                                    }
                                    &::-webkit-scrollbar-button {
                                        background-color: $transparent;
                                    }
                                    &::-webkit-scrollbar-track {
                                        background-color: $transparent;
                                    }
                                    &::-webkit-scrollbar-track-piece {
                                        background-color: $transparent;
                                    }
                                    &::-webkit-scrollbar-thumb {
                                        background-color: $color-black;
                                    }
                                    &::-webkit-scrollbar-corner {
                                        background-color: $transparent;
                                    }
                                    &::-webkit-resizer {
                                        background-color: $transparent;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
