/* Common styles */

* {
    padding: 0;
    margin: 0;
    &,
    &::before,
    &::after {
        box-sizing: border-box;
    }
    &:focus,
    &:active {
        outline: none;
    }
}

@-ms-viewport {
    width: device-width;
}

@media screen and (max-width: 400px) {
    @-ms-viewport {
        width: 300px;
    }
    @-o-viewport {
        width: device-width;
    }
    @viewport {
        width: device-width;
    }
}

html,
body {
    width: 100%;
    height: 100%;
    outline: 0;
    border: 0;
    background-color: #607d8b;
    -ms-text-size-adjust: auto;
    -webkit-text-size-adjust: auto;
    cursor: crosshair !important;
    overflow-x: hidden;
}

html {
    -webkit-tap-highlight-color: $transparent;
    color: $color-white;
    font: $font-text;
}

.mobile-fix,
svg {
    -webkit-tap-highlight-color: $transparent !important;
    -webkit-focus-ring-color: $transparent !important;
    -moz-user-select: none !important;
    -webkit-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    outline: none !important; 
}

.icon-lamp {
    outline: none !important;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

/* App background */

#bg-app {
    width: 100%;
    height: 100%;
    background-color: $color-back;
    background-image: url('');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    /* App */
    #root {
        .ant-layout,
        .ant-layout-header,
        .ant-layout-footer {
            background: $transparent;
        }
        .LayoutMain {
            .Main {
                .ant-layout-content {
                    /*--------------Home page----------------*/
                    /*parts-------------------------------fps*/
                    /*---------------------------------------*/
                    /*---------------------------------------*/
                    /*-----------------Hero------------------*/
                    /*---------------------------------------*/
                    /*---------------------------------------*/
                    /*---------------------------------------*/
                    .Home {
                        height: 280px;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        display: table;
                        position: absolute;
                        @media (max-width: $media-small) {
                            max-width: 320px;
                        }
                        @media (max-width: $media-small) and (orientation: landscape) {
                            max-width: 300px;
                            height: 0;
                        }
                        @media (min-width: $media-medium-min) {
                            max-width: 450px;
                        }
                        @media (min-width: $media-large-min) {
                            max-width: 580px;
                        }
                        a {
                            cursor: pointer;
                            &:hover {
                                text-shadow: 0;
                            }
                            .heading-hero {
                                color: $color-white;
                                font-size: 3.8rem;
                                line-height: 1.1;
                                margin: 0;

                                /* Hero animation "back to 0" */
                                &:hover {
                                    @for $i from 0 through 15 {
                                        $rondomTranslate: random(5) / 1.1;
                                        span.span-#{$i} {
                                            transform: rotate(0deg);
                                            transition: transform #{$rondomTranslate}s;
                                            .icon-lamp {
                                                color: $color-link-hover;
                                                text-shadow: 0 0 20px $color-link-hover;
                                            }
                                        }
                                    }
                                }
                                @media (max-width: $media-small) {
                                    margin-left: 20px;
                                }
                                @media (min-width: $media-medium-min) {
                                    font-size: 6rem;
                                    line-height: 1;
                                }
                                @media (min-width: $media-large-min) {
                                    font-size: 8rem;
                                    line-height: 1;
                                }
                                @media (max-width: $media-small) and (orientation: landscape) {
                                    display: table-footer-group;
                                }

                                /* Hero animation start */
                                @for $i from 0 through 15 {
                                    $rondomAngle: random(360);
                                    $rondomTranslate: random(5) / 1.1;
                                    $opacity: random(9);
                                    $shadow: random(12);
                                    span.span-#{$i} {
                                        opacity: #{'0.' + $opacity};
                                        text-shadow: 0 0 #{$shadow}px #{$color-white};
                                        color: rgba(188, 200, 206, 1);
                                        display: inline-block;
                                        transform: rotate(#{$rondomAngle + 360}deg);
                                        transition: transform #{$rondomTranslate}s;
                                        @media (max-width: $media-small) {
                                            transform: rotate(0deg);
                                        }
                                        .icon-lamp {
                                            font-family: 'lamp' !important;
                                            speak: none;
                                            font-style: normal;
                                            font-weight: normal;
                                            font-variant: normal;
                                            text-transform: none;
                                            line-height: 1;
                                            position: relative;
                                            top: 8px;
                                            color: $color-white;
                                            transition: all 1.6s ease;
                                            @media (max-width: $media-small) {
                                                color: $color-link-hover;
                                                text-shadow: 0 0 20px $color-link-hover;
                                            }
                                            &:before {
                                                content: "\e900";
                                            }
                                            &:hover {
                                                color: $color-link-hover;
                                                text-shadow: 0 0 20px $color-link-hover;
                                            }
                                        }
                                    }
                                    span.span-15 {
                                        opacity: 1;
                                    }
                                }
                            }
                        }
                        // div {
                        //     padding-left: 15px;
                        //     .github {
                        //         color: $color-white;
                        //         text-shadow: 0 0 20px $color-white;
                        //         font-size: 18px;
                        //         &:hover {
                        //             text-shadow: 0 0 8px $color-text-shadow;
                        //             i {
                        //                 color: $color-link-hover;
                        //                 text-shadow: 0 0 16px $color-link-hover;
                        //             }
                        //         }
                        //     }
                        // }
                    }
                    /* Folio page */
                    .Folio {
                        height: -webkit-fill-available;
                        width: 100%;
                        max-width: 100%;
                        top: 0;
                        left: 0;
                        transform: none;
                        display: block;
                        position: absolute;
                        overflow: hidden;
                        .PreLoading-Wave {
                            & > * {
                                text-shadow: 0 0 8px $color-link-hover;
                            }
                        }
                        /* Toolbar */
                        .Toolbar {
                            position: absolute;
                            top: -10px;
                            right: -10px;
                            width: 60px;
                            height: 60px;
                            padding: 20px 0px 0 0;
                            background-color: rgba(0,0,0,0.2);
                            border-top: 0;
                            border-radius: 50%;
                            z-index: 10;
                            &:hover {
                                .ant-switch {
                                    text-shadow: 0 0 8px $color-white;
                                }
                            }
                            .ant-switch {
                                line-height: 1;
                                background-color: $transparent;
                                .ant-switch-inner {
                                    font-size: 16px;
                                }
                            }
                        }
                        /* Collapse */
                        /* not active */
                        .ant-collapse {
                            background-color: $transparent;
                            border: 0;
                            border-radius: 0;
                            & * {
                                transition: height 0.2s ease-in-out;
                            }
                            &.active {
                                .ant-collapse-item {
                                    height: 10vh;
                                    &.ant-collapse-item-active {
                                        height: 70vh;
                                    }
                                    .ant-collapse-header {
                                        height: 10vh;
                                        line-height: 5vh;
                                        font-size: 8vh;
                                        i {
                                            line-height: 10vh;
                                            font-size: 6vh;
                                        }
                                    }
                                }
                            }
                            .ant-collapse-item {
                                border-bottom-color: $color-white;
                                height: 25vh;
                                .ant-collapse-header {
                                    height: 25vh;
                                    line-height: 16vh;
                                    font-size: 18vh;
                                    color: $color-white;
                                    &:hover {
                                        text-shadow: 0 0 20px $color-white;
                                    }
                                    i {
                                        line-height: 25vh;
                                        font-size: 13vh;
                                        left: unset;
                                        right: 50px;
                                    }
                                }
                                /* Static content styles */
                                .ant-collapse-content {
                                    background: $color-content-bg;
                                    font-size: 18px;
                                    color: $color-white;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    &:hover {
                                        background: $color-content-bg-hover;
                                    }
                                    .ant-collapse-content-box {
                                        position: relative;
                                        top: 110px;
                                        height: auto;
                                        padding: 0;
                                        margin: 0 auto 50px auto;
                                        @media (max-width: $media-small) {
                                            top: 50px;
                                        }
                                        .content {
                                            max-width: 100%;
                                            width: 80%;
                                            margin: 0 auto;
                                            color: $color-white;
                                            & > div {
                                                text-align: center;
                                                .react-gravatar {
                                                    border-radius: 50%;
                                                    height: 100%;
                                                    width: auto;
                                                }
                                                h2 {
                                                    color: $color-white;
                                                    font-size: 4vw;
                                                    text-align: center;
                                                    @media (max-width: $media-small) {
                                                        font-size: 7vw;
                                                    }
                                                }
                                                p, span {
                                                    font-size: 3vw;
                                                    line-height: 4vw;
                                                    @media (max-width: $media-small) {
                                                        font-size: 5vw;
                                                        line-height: 8vw;
                                                    }
                                                }
                                                .name {
                                                    margin: 10px 0 0;
                                                }
                                                .italic {
                                                    font-size: 2vw;
                                                    font-weight: 100;
                                                    font-style: italic;
                                                    margin-top: 0;
                                                    @media (max-width: $media-small) {
                                                        font-size: 4vw;
                                                    }
                                                }
                                                mark {
                                                    background-color: $transparent;
                                                    color: $color-link-hover;
                                                }
                                                .ant-btn-background-ghost {
                                                    color: $color-white;
                                                    border-color: $color-white;
                                                    text-decoration: none;
                                                    &:hover {
                                                        text-shadow: 0 0 20px $color-white;
                                                    }
                                                    i {
                                                        margin-right: 5px;
                                                    }
                                                }
                                                // .github {
                                                //     color: $color-white;
                                                //     text-shadow: 0 0 20px $color-white;
                                                //     font-size: 18px;
                                                //     &:hover {
                                                //         text-shadow: 0 0 8px $color-text-shadow;
                                                //         i {
                                                //             color: $color-link-hover;
                                                //             text-shadow: 0 0 20px $color-link-hover;
                                                //         }
                                                //     }
                                                // }
                                                .left-btn {
                                                    text-align: right;
                                                }
                                                .right-btn {
                                                    text-align: left;
                                                }
                                                .right-btn, .left-btn {
                                                    margin: 0;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            /* active content section */
                            .ant-collapse-item-active {
                                height: 10vh;
                                .ant-collapse-header {
                                    height: 10vh;
                                    line-height: 5vh;
                                    font-size: 8vh;
                                    i {
                                        line-height: 10vh;
                                        font-size: 6vh;
                                    }
                                }
                                /* active content */
                                .ant-collapse-content-active {
                                    min-height: 60vh;
                                    max-height: 60vh;
                                    overflow-y: auto;
                                    &::-webkit-scrollbar {
                                        background-color: $transparent;
                                    }
                                    &::-webkit-scrollbar-button {
                                        background-color: $transparent;
                                    }
                                    &::-webkit-scrollbar-track {
                                        background-color: $transparent;
                                    }
                                    &::-webkit-scrollbar-track-piece {
                                        background-color: $transparent;
                                    }
                                    &::-webkit-scrollbar-thumb {
                                        background-color: $color-black;
                                    }
                                    &::-webkit-scrollbar-corner {
                                        background-color: $transparent;
                                    }
                                    &::-webkit-resizer {
                                        background-color: $transparent;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Mobile hide */
@media only screen and ($media-small) {
    .mobile-show {
        display: block !important;
        max-height: unset !important;
    }
    .mobile-hide {
        display: none !important;
    }
}

/* landscape */
@media screen and (orientation: landscape) {
    /* Folio page */
    .Folio {
        /* Collapse */
        /* not active */
        .ant-collapse {
            background-color: $transparent;
            border: 0;
            border-radius: 0;
            & * {
                transition: height 0.2s ease-in-out;
            }
            &.active {
                .ant-collapse-item {
                    height: 10vh;
                    &.ant-collapse-item-active {
                        height: 70vh;
                    }
                    .ant-collapse-header {
                        height: 10vh;
                        line-height: 5vh;
                        i {
                            line-height: 10vh;
                            font-size: 6vh;
                        }
                    }
                }
            }
            .ant-collapse-item {
                border-bottom-color: $color-white;
                height: 25vh;
                .ant-collapse-header {
                    height: 25vh;
                    line-height: 16vh;
                    font-size: 18vh;
                    color: $color-white;
                    i {
                        line-height: 25vh;
                        font-size: 13vh;
                        left: unset;
                        right: 50px;
                    }
                }
                /* Static content styles */
                .ant-collapse-content {
                    font-size: 18px;
                    .content {
                        max-width: 600px;
                        width: 80%;
                        margin: 0 auto;
                        color: $color-white;
                    }
                }
            }
            /* active content section */
            .ant-collapse-item-active {
                height: 10vh;
                .ant-collapse-header {
                    height: 10vh;
                    line-height: 5vh;
                    font-size: 8vh;
                    i {
                        line-height: 10vh;
                        font-size: 6vh;
                    }
                }
                /* active content */
                .ant-collapse-content-active {
                    min-height: 60vh;
                    max-height: 60vh;
                    overflow-y: auto;
                }
            }
        }
    }
}

/* portrait */
@media screen and (orientation: portrait) {
    /* Folio page */
    .Folio {
        /* Collapse */
        /* not active */
        .ant-collapse {
            &.active {
                .ant-collapse-item {
                    height: 10vh;
                    &.ant-collapse-item-active {
                        height: 70vh;
                    }
                    .ant-collapse-header {
                        height: 10vh;
                        font-size: 8vw !important;
                        line-height: 6vw !important;
                        i {
                            line-height: 10vh;
                            font-size: 6vh;
                        }
                    }
                }
            }
            .ant-collapse-item {
                border-bottom-color: $color-white;
                .ant-collapse-header {
                    font-size: 16vw !important;
                    line-height: 21vh !important;
                    @media (max-width: $media-small) {
                        padding: 12px;
                        text-align: center;
                        font-size: 20vw !important;
                        i {
                            display: none;
                        }
                    }
                    i {
                        font-size: 10vh !important;
                    }
                }
                /* Static content styles */
                .ant-collapse-content {
                    font-size: 18px;
                    .ant-collapse-content-box {
                        width: 100%;
                        .content {
                            margin: 0 auto;
                            color: $color-white;
                            .react-gravatar {
                                border-radius: 50%;
                            }
                        }
                    }
                }
            }
            /* active content section */
            .ant-collapse-item-active {
                .ant-collapse-header {
                    font-size: 8vw !important;
                    line-height: 6vw !important;
                    i {
                        line-height: 10vh;
                        font-size: 6vh;
                    }
                }
            }
        }
    }
}