$color-black: #000;
$color-red: #000;

$color-title: #555 !default;
//$color-title-light: #555 !default;
//$color-title-dark: #555 !default;

$color-text: #555 !default;
$color-text-light: #555 !default;
$color-text-dark: #555 !default;

$color-link: #2f4cb4 !default;
$color-link-hover: #4160ff !default;

$color-content-table-bd: #2c2c2c !default;
$color-content-table-bg: #2c2c2c !default;
