$font-title: 22px / 1.2 'Helvetica', sans-serif;
$font-title-bold: bold 22px / 1.2 'Helvetica', sans-serif;

$font-text: 16px / 1.2 'Arial', sans-serif;
$font-text-bold: bold 16px / 1.2 'Arial', sans-serif;

$font-text-big: 18px / 1.2 'Arial', sans-serif;
$font-text-big-bold: bold 18px / 1.2 'Arial', sans-serif;

$font-text-small: 14px / 1.2 'Arial', sans-serif;
$font-text-small-bold: bold 14px / 1.2 'Arial', sans-serif;

$font-text-second: 16px / 1.2 'Tahoma', sans-serif;
$font-text-second-bold: bold 16px / 1.2 'Tahoma', sans-serif;

