@use 'sass:math';

// old media queries
$media-x-large: 1367px;
$media-large-min: 1025px;
$media-large-max: 1366px;
$media-medium-min: 768px;
$media-medium-max: 1024px;
$media-small: 767px;
$media-x-small: 599px;

// media mobile-first
$min-width-xx-small: 375px;
$min-width-x-small: 415px;
$min-width-small: 600px;
$min-width-medium: 768px;
$min-width-tablet: 992px;
$min-width-large: 1200px;
$min-width-x-large: 1600px;

@function rem($px) {
    @return math.div($px * 1px, 16px) * 1rem;
}

@mixin font($size, $weight, $lineh, $color) {
    color: $color;
    line-height: $lineh;
    font-weight: $weight;
    font-size: $size;
    font-style: normal;
    letter-spacing: normal;
}

@mixin responsive-font($min-size, $index, $max-size) {
    font-size: clamp(
        $min-size,
        calc((1vw + 1vh) * $index),
        $max-size
    );
}

@mixin truncate($lines) {
    /* stylelint-disable */
    display: -webkit-box;
    /* stylelint-enable */
    overflow: hidden;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
}

// for &::-webkit-slider-thumb
@function makelongshadow($color, $size) {
    $val: 0 0 0 $size $color;

    @for $i from 6 through 600 {
        $val: #{$val}, #{$i}px 0 0 $size #{$color};
    }

    @return $val;
}

@mixin for($breakpoint) {
    @media only screen and (min-width: $breakpoint) {
        @content;
    }
}

@mixin transition($duration: 0.35s, $ease: ease-in-out) {
    transition-delay: 0s;
    transition-duration: $duration;
    transition-timing-function: $ease;
    transition-property: color, background-color, border-color, fill,
        filter, stroke, text-shadow, box-shadow;
}

// EXAMPLE USAGE:

// input[type='range'] {
//     z-index: 1;
//     position: absolute;
//     left: 0;
//     top: -0.125rem;
//     width: 100%;
//     margin: var(--size-4) 0;
//     content: '';
//     background-color: var(--transparent);
//     pointer-events: none;
//     appearance: none;

//     &:focus {
//         outline: none;
//     }

//     &::-webkit-slider-runnable-track {
//         background: var(--color-pink);
//         border: none;
//         border-radius: var(--size-2);
//         width: 100%;
//         height: var(--size-2);
//     }

//     &::-webkit-slider-thumb {
//         width: var(--size-0-5);
//         height: var(--size-2);
//         background: var(--color-pink);
//         border: none;
//         box-shadow: makelongshadow(var(--range-bg), 0);
//         appearance: none;
//     }

//     &::-moz-range-track {
//         background: var(--color-pink);
//         border: none;
//         border-radius: var(--size-2);
//         width: 100%;
//         height: var(--size-2);
//     }

//     &::-moz-range-thumb {
//         width: var(--size-0-5);
//         height: var(--size-2);
//         background: var(--color-pink);
//         border: none;
//         box-shadow: makelongshadow(var(--range-bg), 0);
//     }
// }
