:root {
    // fonts
    --fontsource-display: swap;
    // custom colors
    --pure-white: #fff;
    --pure-black: #000;
    --pure-black-half: #0000;
    --color-primary: #416475;
    --color-secondary: #fdd835;
    --transparent: rgb(0 0 0 / 0%);
    --color-deep-black: #2a414c;
    --color-black: #395766;
    --color-white: #bcc8ce;
    --color-bg: #456778;
    --color-content-bg: rgb(65 100 117 / 40%);
    --color-content-bg-hover: rgb(65 100 117 / 80%);
    --color-timeline-icon-bg: rgb(207 216 220 / 40%);
    --color-footer: rgb(0 0 0 / 65%);
    --color-danger: #ff6f00;

    // materializecss
    --blue-grey-lighten-5: #eceff1;
    --blue-grey-lighten-4: #cfd8dc;
    --blue-grey-lighten-3: #b0bec5;
    --blue-grey-lighten-2: #90a4ae;
    --blue-grey-lighten-1: #78909c;
    --blue-grey: #607d8b;
    --blue-grey-darken-1: #546e7a;
    --blue-grey-darken-2: #455a64;
    --blue-grey-darken-3: #37474f;
    --blue-grey-darken-4: #263238;
}
